:root{
--green:#007a5e;
--red:#ce1126;
--yellow:#fcd116;
--bg:#f4f4f4;
--text:#222;
--card:#fff;
}

body.dark{
--bg:#0e0e0e;
--text:#f1f1f1;
--card:#1c1c1c;
}

body{
margin:0;
font-family:Arial;
background:var(--bg);
color:var(--text);
transition:0.3s;
scroll-behavior:smooth;
}

header{
position:sticky;
top:0;
z-index:1000;
background:linear-gradient(90deg,var(--green),var(--red),var(--yellow));
padding:15px;
text-align:center;
color:white;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
font-weight:bold;
}


.hero{
    position: relative;
    text-align: center;
}

.hero-img{
    width: 100%;
    height: 500px;
    
    background-size: 400px;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
}

section{
    padding:60px 10%;
}

.card{
background:var(--card);
padding:25px;
margin:20px 0;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transform:translateY(30px);
opacity:0;
transition:0.8s ease;
}

.card.show{
transform:translateY(0);
opacity:1;
}

h2{color:var(--green)}


.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.region{
padding:15px;
border-radius:12px;
background:rgba(0,0,0,0.05);
cursor:pointer;
transition:0.3s;
}
.region:hover{
transform:scale(1.05);
background:rgba(0,0,0,0.1);
}


input{
width:100%;
padding:10px;
margin-top:8px;
border-radius:6px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
border:none;
border-radius:6px;
cursor:pointer;
margin-top:10px;
background:var(--green);
color:white;
}


.toggle,.top{
position:fixed;
right:20px;
padding:10px;
border:none;
border-radius:50%;
cursor:pointer;
color:white;
}

.toggle{bottom:20px;background:var(--green);}
.top{bottom:70px;background:var(--red);}


footer{
text-align:center;
padding:20px;
background:var(--green);
color:white;
}